src/cptqml/qml-ramp.xsd

<?xml version="1.0"?>
<!--
This XSD was autogenerated from wiki2.qml using

  http://www.freeformatter.com/xsd-generator.html

It should not be expected that this is comprehensive
-->
<xs:schema
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="qgis">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="transparencyLevelInt"/>
        <xs:element name="rasterproperties">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="mDrawingStyle"/>
              <xs:element type="xs:string" name="mColorShadingAlgorithm"/>
              <xs:element name="mInvertColor">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="boolean"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="mRedBandName"/>
              <xs:element type="xs:string" name="mGreenBandName"/>
              <xs:element type="xs:string" name="mBlueBandName"/>
              <xs:element type="xs:string" name="mGrayBandName"/>
              <xs:element type="xs:byte" name="mStandardDeviations"/>
              <xs:element name="mUserDefinedRGBMinimumMaximum">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="boolean"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="mRGBMinimumMaximumEstimated">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="boolean"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="mUserDefinedGrayMinimumMaximum">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="boolean"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="mGrayMinimumMaximumEstimated">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="boolean"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="mContrastEnhancementAlgorithm"/>
              <xs:element name="contrastEnhancementMinMaxValues">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="minMaxEntry">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="min"/>
                          <xs:element type="xs:short" name="max"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="mNoDataValue">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute type="xs:string" name="mValidNoDataValue"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="customColorRamp">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="colorRampType"/>
                    <xs:element name="colorRampEntry" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:short" name="red" use="optional"/>
                            <xs:attribute type="xs:float" name="value" use="optional"/>
                            <xs:attribute type="xs:short" name="green" use="optional"/>
                            <xs:attribute type="xs:short" name="blue" use="optional"/>
                            <xs:attribute type="xs:string" name="label" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="version"/>
      <xs:attribute type="xs:byte" name="minimumScale"/>
      <xs:attribute type="xs:float" name="maximumScale"/>
      <xs:attribute type="xs:byte" name="hasScaleBasedVisibilityFlag"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
